


<h3>Add A New Volunteer To Your Project:</h3>
<form action="/project/<%=@project.id%>/add_volunteer" method="post">
  <label for="name">Enter Your Name</label>
  <input type="text" name="name">
  <button type="submit">Submit</button>
</form>
