

<h3>Edit This Volunteer:</h3>
<form action="/volunteer/<%=@volunteer.id%>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Enter A New Name For This Volunteer</label>
  <input type="text" name="name">
  <button type="submit">Submit</button>
</form>
