<h1>Volunteer Tracker</h1>
<h3>Know exactly who's working on which projects!</h3>



<h3>Here is a list of all the current projects:</h3>
<% if @all_projects.any? %>
  <% @all_projects.each do |project| %>
  <ul>
    <a href="/project/<%= project.id %>"><%= project.name %></a>
  </ul>
  <% end %>
<% else %>
  <p>There are no projects yet! </p>
<% end %>
